#nav{
    display: flex;
    justify-content: space-around;
    background-color: #feddc8;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 25px;
    cursor: pointer;
    font-weight: 700;
}

.navlink:hover{
    color: #f79837;
    transition: all 0.5s;
}